{% load static %}
<html>

<head>
  <title>Matthew Brassey</title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>

    <div class="topheader">
      <div class="page-header">
        <h1><a href="/">MATTHEWBRASSEY.com</a></h1>
      </div>
      <div class="breadcrumb">
        <div class="breadcrumbcontainer">
        <div class="nav_multilevel">
          <ul class="level1">
            <li>a blog by Matthew Brassey</li>
            <li>
              <a class="textlink">find out more</a>
              <ul class="level2">
                <li>
                  <a href="https://www.linkedin.com/in/matthew-brassey-203728198/?originalSubdomain=uk">LinkedIn</a>
                </li>
                <li>
                  <a href="#bottom">Contact Information</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>


      <div>
      
        <div class="layoutfooter">
          <div class="footercontent">
            <h1>Matthew Brassey</h1>
            <h1>Contact Information</h1>
            <ul>
              <li>Phone Number: 07775504996</li>
              <li><a id="bottom"></a> matthewbrassey@yahoo.co.uk</li>
      
      
      
            </ul>
      
      
      
          </div>
      
      
      
        </div>
</body>

</html>